/* Contenedor general */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #0a0a1a, #001f3f, #004080);
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Caja central grande */
.login-box {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  width: 95%;
  max-width: 950px;  /* MÁS ANCHO */
  min-height: 700px;  /* MÁS ALTO */
  overflow: hidden;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
}


/* Mantener inputs como antes */
.login-left {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente */
  color: white;
}


.login-left {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* centra en vertical */
  align-items: center;       /* centra en horizontal */
  color: white;
}

/* Icon Login  */
.avatar img {
  width: 120px;
  height: 120px;
  border-radius: 0%;
  padding: 10px;
  margin-bottom: 25px;
}

.login-left h2 {
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: bold;
}

.login-left input {
  width: 100%;
  padding: 16px;
  margin: 14px 0 24px 0;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
}

.login-left input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}

.login-left label {
  display: block;
  text-align: left;
  font-size: 15px;
  margin-bottom: 6px;
  font-weight: bold;
}

.login-left button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(to right, #004080, #00c6ff);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-left button:hover {
  background: linear-gradient(to right, #00c6ff, #004080);
  
}


.mensaje {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

/* Columna derecha (Imagen) */
.login-right {
  flex: 1;
  background: #fff;
}

.login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ✅ RESPONSIVE */

/* Tablets */
@media (max-width: 992px) {
  .login-box {
    max-width: 95%;
    min-height: 550px;
  }

  .login-left {
    padding: 40px;
  }

  .login-left h2 {
    font-size: 28px;
  }

  .avatar img {
    width: 100px;
    height: 100px;
  }
}

/* Móviles */
@media (max-width: 768px) {
  .login-box {
    flex-direction: column;
    max-width: 95%;
    min-height: auto;
  }

  .login-right {
    display: none; /* solo login */
  }

  .login-left {
    padding: 30px;
  }

  .login-left h2 {
    font-size: 24px;
  }
}

/* Pantallas muy pequeñas */
@media (max-width: 480px) {
  .login-left h2 {
    font-size: 20px;
  }

  .login-left input,
  .login-left button {
    font-size: 14px;
    padding: 12px;
  }
}
