
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #0a0f4d, #6a0dad);
  font-family: Arial, sans-serif;
}


.login-box {
  background: transparent;
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  color: white;
}


.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  padding: 10px;
  margin-bottom: 15px;
}


.login-box h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}


.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0 20px 0;
  border: none;
  border-radius: 8px;
  background: rgba(255,255,255,0.2);
  color: white;
  font-size: 14px;
}

.login-box {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);          
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 360px;  
  text-align: center;
  color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.login-box input:focus {
  outline: none;
  background: rgba(255,255,255,0.3);
}


.login-box label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}


.login-box button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}
